<h1> aWhere API. Batch jobs </h1>

In [1]:
from __future__ import division
import pandas as pd
import datetime
from aWhere import Awhere
import csv
%pylab inline
pylab.rcParams['figure.figsize'] = (12.0, 8.0) # set size of figures"
plt.rcParams.update({'font.size': 24})

DATE_FORMAT = '%Y-%m-%d'

awhere = Awhere()

Populating the interactive namespace from numpy and matplotlib

In [7]:
from collections import OrderedDict
OrderedDict({1: 'a'})

OrderedDict([(1, 'a')])

<h1> get lat lon list from file </h1>

In [2]:
woreda_df = pd.read_csv('/Users/attiladobi/zen_staging/elevation_area/woreda_info.csv')

latlons = woreda_df[['WoredaLat', 'WoredaLon']]
latlons_cut = latlons[latlons != 0].values
#batch_data = awhere.create_batch_multiple(latlons_cut[:4], ['a','b','c', 'd'], '2016-02-01', '2017-02-01')

<h1> make multiple calls </h1>

In [3]:
dataframe, failed = awhere.fetch_data_multiple(latlons_cut[:4], ['a','b','c', 'd'], '2016-02-01', '2017-02-01')

Job status: Running. Job timer: 0 seconds.
On job 1 out of 4
Job status: Done. Job timer: 5 seconds.
On job 1 out of 4
Completed jobId: 105219
Job status: Done. Job timer: 0 seconds.
On job 2 out of 4
Completed jobId: 105220
Job status: Done. Job timer: 0 seconds.
On job 3 out of 4
Completed jobId: 105221
Job status: Done. Job timer: 0 seconds.
On job 4 out of 4
Completed jobId: 105222

In [4]:
dataframe

,date,humid_max,humid_min,latitude,longitude,precipitation,solar,temp_max,temp_min,title,wind_avg
0,2016-02-01,76.949997,49.090000,9.034698,38.726559,0.013333,3499.967773,24.120001,13.510000,a,1.345270
1,2016-02-02,83.980003,34.849998,9.034698,38.726559,0.044444,5628.505371,24.170000,10.200000,a,1.340556
2,2016-02-03,65.250000,27.150000,9.034698,38.726559,0.000000,6705.910645,12.480000,12.530000,a,1.245687
3,2016-02-04,59.750000,36.110001,9.034698,38.726559,0.000000,6277.118164,25.049999,22.850000,a,1.191475
4,2016-02-05,79.989998,39.000000,9.034698,38.726559,0.000000,6418.199219,25.150000,14.610000,a,0.991717
5,2016-02-06,60.139999,27.420000,9.034698,38.726559,0.000000,6275.258301,23.700001,13.690000,a,1.025895
6,2016-02-07,63.520000,29.469999,9.034698,38.726559,0.000000,5675.857910,26.959999,13.030000,a,0.884473
7,2016-02-08,63.299999,32.660000,9.034698,38.726559,0.000000,5933.924805,25.309999,16.750000,a,0.912756
8,2016-02-09,83.779999,42.240002,9.034698,38.726559,0.000000,6704.870605,25.620001,12.970000,a,0.929256
9,2016-02-10,75.900002,33.470001,9.034698,38.726559,0.000000,6703.392090,25.820000,15.280000,a,0.789014
10,2016-02-11,64.919998,33.340000,9.034698,38.726559,0.000000,6983.599609,25.790001,12.520000,a,1.427766
11,2016-02-12,70.010002,35.020000,9.034698,38.726559,0.000000,6771.907715,25.750000,11.250000,a,1.356466
12,2016-02-13,71.160004,40.009998,9.034698,38.726559,0.000000,6199.180176,21.700001,11.310000,a,1.120764
13,2016-02-14,71.580002,37.250000,9.034698,38.726559,0.000000,7389.166016,25.750000,13.220000,a,0.885652
14,2016-02-15,62.810001,30.180000,9.034698,38.726559,0.000000,7334.263184,26.730000,15.190000,a,1.038858
15,2016-02-16,67.080002,30.690001,9.034698,38.726559,0.000000,6182.141602,24.379999,14.510000,a,1.245687
16,2016-02-17,61.270000,39.189999,9.034698,38.726559,0.000000,6894.023926,24.680000,13.020000,a,0.924543
17,2016-02-18,60.340000,32.779999,9.034698,38.726559,0.000000,6249.688477,23.900000,13.240000,a,1.114282
18,2016-02-19,68.839996,29.670000,9.034698,38.726559,0.000000,7191.482910,25.370001,15.890000,a,2.305167
19,2016-02-20,72.099998,24.240000,9.034698,38.726559,0.000000,6539.971191,25.900000,14.780000,a,1.835531
20,2016-02-21,52.639999,29.799999,9.034698,38.726559,0.182963,5290.278320,26.200001,12.900000,a,1.295774
21,2016-02-22,48.779999,19.049999,9.034698,38.726559,0.800000,6359.783691,28.270000,12.740000,a,1.155530
22,2016-02-23,50.009998,25.690001,9.034698,38.726559,0.000000,6378.006836,12.290000,14.700000,a,1.383278
23,2016-02-24,73.870003,31.850000,9.034698,38.726559,0.111111,4561.532715,25.760000,20.170000,a,1.465478
24,2016-02-25,76.169998,49.520000,9.034698,38.726559,1.793485,4329.679688,26.340000,16.260000,a,1.052411
25,2016-02-26,91.349998,46.529999,9.034698,38.726559,0.698339,6078.902344,26.000000,15.940000,a,1.134317
26,2016-02-27,87.070000,37.610001,9.034698,38.726559,0.000000,5585.221680,25.680000,12.220000,a,2.025861
27,2016-02-28,72.820000,39.840000,9.034698,38.726559,0.000000,6562.668457,24.809999,12.930000,a,2.630437
28,2016-02-29,65.610001,22.770000,9.034698,38.726559,0.000000,8003.627930,27.090000,25.530001,a,1.942775
29,2016-03-01,56.299999,26.850000,9.034698,38.726559,0.000000,8528.019531,28.910000,17.830000,a,0.938684
...,...,...,...,...,...,...,...,...,...,...,...
1438,2017-01-03,89.440002,9.220000,8.980036,38.839081,0.000000,NaN,25.180000,6.910000,d,4.600000
1439,2017-01-04,50.500000,10.150000,8.980036,38.839081,0.000000,NaN,24.450001,6.180000,d,4.100000
1440,2017-01-05,76.849998,11.870000,8.980036,38.839081,0.856780,NaN,24.230000,10.090000,d,5.100000
1441,2017-01-06,63.209999,10.230000,8.980036,38.839081,0.765857,NaN,23.280001,13.190000,d,4.100000
1442,2017-01-07,43.320000,12.650000,8.980036,38.839081,0.000000,NaN,24.670000,5.470000,d,3.100000
1443,2017-01-08,66.290001,9.280000,8.980036,38.839081,0.000000,NaN,26.110001,5.570000,d,3.100000
1444,2017-01-09,63.389999,12.500000,8.980036,38.839081,0.000000,NaN,24.990000,5.060000,d,3.600000
1445,2017-01-10,59.560001,21.709999,8.980036,38.839081,0.311975,NaN,23.750000,7.340000,d,4.600000
1446,2017-01-11,69.389999,7.220000,8.980036,38.839081,0.000000,NaN,23.190001,12.560000,d,5.100000
1447,2017-01-12,83.830002,8.130000,8.980036,38.839081,0.000000,NaN,23.049999,14.570000,d,3.600000
1448,2017-01-13,80.230003,7.770000,8.980036,38.839081,0.000000,NaN,24.809999,10.250000,d,2.600000
1449,2017-01-14,83.989998,9.330000,8.980036,38.839081,0.000000,NaN,25.700001,11.950000,d,2.600000
1450,2017-01-15,74.139999,9.990000,8.980036,38.839081,0.000000,NaN,25.809999,12.680000,d,3.100000
1451,2017-01-16,56.610001,1.000000,8.980036,38.839081,0.000000,NaN,25.920000,13.600000,d,4.600000
1452,2017-01-17,48.240002,16.150000,8.980036,38.839081,0.000000,NaN,24.860001,14.280000,d,4.100000
1453,2017-01-18,67.650002,1.000000,8.980036,38.839081,0.287495,NaN,26.129999,13.010000,d,4.100000
1454,2017-01-19,67.580002,4.640000,8.980036,38.839081,0.000000,NaN,26.280001,8.400000,d,3.600000
1455,2017-01-20,72.230003,11.310000,8.980036,38.839081,0.000000,NaN,25.049999,7.980000,d,3.100000
1456,2017-01-21,69.830002,19.200001,8.980036,38.839081,0.000000,NaN,25.660000,13.650000,d,3.600000
1457,2017-01-22,59.500000,14.100000,8.980036,38.839081,0.000000,NaN,26.530001,8.740000,d,4.600000
1458,2017-01-23,63.200001,21.750000,8.980036,38.839081,0.000000,NaN,26.320000,8.010000,d,4.100000
1459,2017-01-24,63.330002,14.800000,8.980036,38.839081,0.000000,NaN,26.430000,7.720000,d,4.600000
1460,2017-01-25,62.160000,24.240000,8.980036,38.839081,0.300930,NaN,26.610001,11.100000,d,5.100000
1461,2017-01-26,59.320000,24.389999,8.980036,38.839081,0.000000,NaN,25.500000,13.500000,d,3.600000
1462,2017-01-27,56.930000,21.520000,8.980036,38.839081,0.000000,NaN,26.680000,13.380000,d,3.100000
1463,2017-01-28,67.349998,20.139999,8.980036,38.839081,0.000000,NaN,26.360001,14.390000,d,3.100000
1464,2017-01-29,81.239998,31.010000,8.980036,38.839081,0.000000,5486.000000,25.680000,11.120000,d,3.600000
1465,2017-01-30,86.110001,31.120001,8.980036,38.839081,0.000000,5932.000000,26.969999,9.670000,d,4.100000
1466,2017-01-31,68.980003,26.879999,8.980036,38.839081,0.000000,4659.000000,25.600000,10.970000,d,3.100000
1467,2017-02-01,79.790001,24.860001,8.980036,38.839081,0.000000,NaN,26.620001,10.180000,d,5.100000

<h1> Make single call </h1>

In [5]:
dataframe, failed = awhere.fetch_data_single(latlons_cut[0][0], latlons_cut[0][1], 'woreda1', '2016-02-01', '2017-02-01')

Job status: Queued. Job timer: 0 seconds.
On job 1 out of 1
Job status: Running. Job timer: 5 seconds.
On job 1 out of 1
Job status: Done. Job timer: 10 seconds.
On job 1 out of 1
Completed jobId: 105223

In [6]:
dataframe.rename(columns={'title': 'GeoKey'}, inplace=True)
dataframe

,date,humid_max,humid_min,latitude,longitude,precipitation,solar,temp_max,temp_min,GeoKey,wind_avg
0,2016-02-01,76.949997,49.090000,9.034698,38.726559,0.013333,3499.967773,24.120001,13.510000,woreda1,1.345270
1,2016-02-02,83.980003,34.849998,9.034698,38.726559,0.044444,5628.505371,24.170000,10.200000,woreda1,1.340556
2,2016-02-03,65.250000,27.150000,9.034698,38.726559,0.000000,6705.910645,12.480000,12.530000,woreda1,1.245687
3,2016-02-04,59.750000,36.110001,9.034698,38.726559,0.000000,6277.118164,25.049999,22.850000,woreda1,1.191475
4,2016-02-05,79.989998,39.000000,9.034698,38.726559,0.000000,6418.199219,25.150000,14.610000,woreda1,0.991717
5,2016-02-06,60.139999,27.420000,9.034698,38.726559,0.000000,6275.258301,23.700001,13.690000,woreda1,1.025895
6,2016-02-07,63.520000,29.469999,9.034698,38.726559,0.000000,5675.857910,26.959999,13.030000,woreda1,0.884473
7,2016-02-08,63.299999,32.660000,9.034698,38.726559,0.000000,5933.924805,25.309999,16.750000,woreda1,0.912756
8,2016-02-09,83.779999,42.240002,9.034698,38.726559,0.000000,6704.870605,25.620001,12.970000,woreda1,0.929256
9,2016-02-10,75.900002,33.470001,9.034698,38.726559,0.000000,6703.392090,25.820000,15.280000,woreda1,0.789014
10,2016-02-11,64.919998,33.340000,9.034698,38.726559,0.000000,6983.599609,25.790001,12.520000,woreda1,1.427766
11,2016-02-12,70.010002,35.020000,9.034698,38.726559,0.000000,6771.907715,25.750000,11.250000,woreda1,1.356466
12,2016-02-13,71.160004,40.009998,9.034698,38.726559,0.000000,6199.180176,21.700001,11.310000,woreda1,1.120764
13,2016-02-14,71.580002,37.250000,9.034698,38.726559,0.000000,7389.166016,25.750000,13.220000,woreda1,0.885652
14,2016-02-15,62.810001,30.180000,9.034698,38.726559,0.000000,7334.263184,26.730000,15.190000,woreda1,1.038858
15,2016-02-16,67.080002,30.690001,9.034698,38.726559,0.000000,6182.141602,24.379999,14.510000,woreda1,1.245687
16,2016-02-17,61.270000,39.189999,9.034698,38.726559,0.000000,6894.023926,24.680000,13.020000,woreda1,0.924543
17,2016-02-18,60.340000,32.779999,9.034698,38.726559,0.000000,6249.688477,23.900000,13.240000,woreda1,1.114282
18,2016-02-19,68.839996,29.670000,9.034698,38.726559,0.000000,7191.482910,25.370001,15.890000,woreda1,2.305167
19,2016-02-20,72.099998,24.240000,9.034698,38.726559,0.000000,6539.971191,25.900000,14.780000,woreda1,1.835531
20,2016-02-21,52.639999,29.799999,9.034698,38.726559,0.182963,5290.278320,26.200001,12.900000,woreda1,1.295774
21,2016-02-22,48.779999,19.049999,9.034698,38.726559,0.800000,6359.783691,28.270000,12.740000,woreda1,1.155530
22,2016-02-23,50.009998,25.690001,9.034698,38.726559,0.000000,6378.006836,12.290000,14.700000,woreda1,1.383278
23,2016-02-24,73.870003,31.850000,9.034698,38.726559,0.111111,4561.532715,25.760000,20.170000,woreda1,1.465478
24,2016-02-25,76.169998,49.520000,9.034698,38.726559,1.793485,4329.679688,26.340000,16.260000,woreda1,1.052411
25,2016-02-26,91.349998,46.529999,9.034698,38.726559,0.698339,6078.902344,26.000000,15.940000,woreda1,1.134317
26,2016-02-27,87.070000,37.610001,9.034698,38.726559,0.000000,5585.221680,25.680000,12.220000,woreda1,2.025861
27,2016-02-28,72.820000,39.840000,9.034698,38.726559,0.000000,6562.668457,24.809999,12.930000,woreda1,2.630437
28,2016-02-29,65.610001,22.770000,9.034698,38.726559,0.000000,8003.627930,27.090000,25.530001,woreda1,1.942775
29,2016-03-01,56.299999,26.850000,9.034698,38.726559,0.000000,8528.019531,28.910000,17.830000,woreda1,0.938684
...,...,...,...,...,...,...,...,...,...,...,...
337,2017-01-03,89.709999,7.800000,9.034698,38.726559,0.000000,NaN,24.510000,6.200000,woreda1,4.600000
338,2017-01-04,49.790001,8.810000,9.034698,38.726559,0.491459,NaN,23.780001,5.620000,woreda1,4.100000
339,2017-01-05,76.610001,10.120000,9.034698,38.726559,1.148451,NaN,23.510000,9.490000,woreda1,5.100000
340,2017-01-06,62.970001,8.750000,9.034698,38.726559,1.054572,NaN,22.500000,12.280000,woreda1,4.100000
341,2017-01-07,42.770000,11.520000,9.034698,38.726559,0.458289,NaN,23.870001,4.730000,woreda1,3.100000
342,2017-01-08,65.680000,8.010000,9.034698,38.726559,0.380139,NaN,25.360001,4.930000,woreda1,3.100000
343,2017-01-09,62.689999,10.280000,9.034698,38.726559,0.494538,NaN,24.330000,4.430000,woreda1,3.600000
344,2017-01-10,59.029999,19.540001,9.034698,38.726559,0.454009,NaN,23.020000,6.670000,woreda1,4.600000
345,2017-01-11,68.889999,5.340000,9.034698,38.726559,0.000000,NaN,22.459999,11.690000,woreda1,5.100000
346,2017-01-12,84.040001,7.840000,9.034698,38.726559,0.352949,NaN,22.400000,13.680000,woreda1,3.600000
347,2017-01-13,79.930000,6.350000,9.034698,38.726559,0.402196,NaN,24.120001,9.600000,woreda1,2.600000
348,2017-01-14,83.739998,7.490000,9.034698,38.726559,0.797720,NaN,25.150000,11.030000,woreda1,2.600000
349,2017-01-15,74.180000,9.720000,9.034698,38.726559,0.000000,NaN,25.040001,11.900000,woreda1,3.100000
350,2017-01-16,55.459999,1.000000,9.034698,38.726559,0.558148,NaN,25.120001,12.860000,woreda1,4.600000
351,2017-01-17,47.860001,13.020000,9.034698,38.726559,0.522240,NaN,24.049999,13.500000,woreda1,4.100000
352,2017-01-18,67.300003,1.000000,9.034698,38.726559,0.386806,NaN,25.420000,12.270000,woreda1,4.100000
353,2017-01-19,66.830002,2.710000,9.034698,38.726559,0.000000,NaN,25.610001,7.790000,woreda1,3.600000
354,2017-01-20,72.169998,8.170000,9.034698,38.726559,0.288310,NaN,24.139999,7.250000,woreda1,3.100000
355,2017-01-21,69.599998,16.740000,9.034698,38.726559,0.000000,NaN,24.780001,13.020000,woreda1,3.600000
356,2017-01-22,59.410000,11.600000,9.034698,38.726559,0.000000,NaN,25.760000,8.190000,woreda1,4.600000
357,2017-01-23,62.810001,20.100000,9.034698,38.726559,0.000000,NaN,25.670000,7.020000,woreda1,4.100000
358,2017-01-24,62.939999,13.360000,9.034698,38.726559,0.000000,NaN,25.639999,7.060000,woreda1,4.600000
359,2017-01-25,61.520000,22.660000,9.034698,38.726559,0.279587,NaN,25.879999,10.290000,woreda1,5.100000
360,2017-01-26,59.080002,23.799999,9.034698,38.726559,0.000000,NaN,24.809999,12.700000,woreda1,3.600000
361,2017-01-27,56.540001,19.059999,9.034698,38.726559,0.000000,NaN,25.950001,12.570000,woreda1,3.100000
362,2017-01-28,67.150002,18.139999,9.034698,38.726559,0.000000,NaN,25.740000,13.420000,woreda1,3.100000
363,2017-01-29,80.870003,28.730000,9.034698,38.726559,0.000000,5486.000000,25.020000,10.380000,woreda1,3.600000
364,2017-01-30,85.930000,29.690001,9.034698,38.726559,0.000000,5932.000000,26.400000,8.800000,woreda1,4.100000
365,2017-01-31,68.750000,24.830000,9.034698,38.726559,0.000000,4659.000000,25.110001,10.220000,woreda1,3.100000
366,2017-02-01,79.870003,22.540001,9.034698,38.726559,0.000000,NaN,26.100000,9.340000,woreda1,5.100000

<h1> import information from woreda mapped file and write to csv file </h1>

In [26]:
#region_df = pd.read_csv('/Users/attiladobi/zenysis/pipeline/auto/ethiopia/bin/shared/data/woreda_mapped.csv')
woreda_df = pd.read_csv('/Users/attiladobi/zen_staging/elevation_area/woreda_info.csv', dtype=str)
woreda_df = woreda_df[woreda_df['WoredaLat'].astype(float) != 0]

In [3]:
START_DATE_STR = '2016-01-01'
END_DATE = (datetime.datetime.now() - datetime.timedelta(days=1))
END_DATE_STR = END_DATE.strftime(DATE_FORMAT)

N_COMPLETE = 0

for lat, lon, geokey in woreda_df[['WoredaLat', 'WoredaLon', 'GeoKey']].values[:5]:
    
    dataframe, failures = awhere.fetch_data_single(lat, lon, geokey, START_DATE_STR, END_DATE_STR)
    if len(failures) > 0:
        print 'The following queries failed:' 
        print failures
    # Rename title as the GeoKey
    dataframe.rename(columns={'title': 'GeoKey'}, inplace=True)
    dataframe.to_csv('testtttt_%s.csv' % geokey.replace(' ','_'))

Job status: Queued. Job timer: 0 seconds.
On job 1 out of 1
Job status: Done. Job timer: 5 seconds.
On job 1 out of 1
Completed jobId: 105212
Job status: Running. Job timer: 0 seconds.
On job 1 out of 1
Job status: Done. Job timer: 5 seconds.
On job 1 out of 1
Completed jobId: 105213
Job status: Queued. Job timer: 0 seconds.
On job 1 out of 1
Job status: Done. Job timer: 5 seconds.
On job 1 out of 1
Completed jobId: 105214
Job status: Running. Job timer: 0 seconds.
On job 1 out of 1
Job status: Done. Job timer: 5 seconds.
On job 1 out of 1
Completed jobId: 105215
Job status: Queued. Job timer: 0 seconds.
On job 1 out of 1
Job status: Done. Job timer: 5 seconds.
On job 1 out of 1
Completed jobId: 105216

<h1> Lookup file with geoKey from geoKey.replace(' ','_') </h1>

In [16]:
region_df[['WoredaLat', 'WoredaLon', 'GeoKey']].values[402]

array([9.897482561506733, 37.13240192661693,
       'oromiya__horo guduru wollega__jardega jarte__'], dtype=object)

<h1> Split up query into N day increments </h1>

In [23]:
DATE_FORMAT = '%Y-%m-%d'
ndays = 400

start_date = datetime.datetime.strptime('2013-01-01', DATE_FORMAT)
end_date = datetime.datetime.strptime('2016-05-01', DATE_FORMAT)
    
while start_date < end_date:
    next_date = start_date + datetime.timedelta(days=ndays)
    if next_date > end_date:
        next_date = end_date
    print next_date.strftime(DATE_FORMAT)
    start_date = next_date

2014-02-05
2015-03-12
2016-04-15
2016-05-01

In [19]:
if end_date.year > 2013:
    end_date =  datetime.datetime.strptime('2013-12-31', DATE_FORMAT)
end_date

datetime.datetime(2013, 12, 31, 0, 0)

In [ ]:
timede